.buttonComponent {
    display: flex;
    margin-top: 10px;
    /* margin-left: ; */
  }

  .buttonComponent > .leftButton {
    margin-left: 15%;
  }
  .buttonComponent > .rightButton {
    margin-left: 55%;
  }
  button {
    border-radius: 2px;
    background-color: white;
    font-weight: bold;
    /* margin-right: 1%; */
  }