.card {
    width: 150px;
    border: 1px solid black;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card > .image {
    flex: 4;
}

.image > img {
    height: 100%;
    width: 100%;
    display: block;
}

.card > p {
    display: block;
    flex: 1;
}

.price {
    font-size: small;
}

.name {
    font-size: large;
}